<!DOCTYPE HTML>

<html>
  <head>
    <title>list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>

  </head>
  <body>
    <form action="/out" method="post">

      Please enter the number of tasks:<br />
      <input type="text" id="input_n" name="input_n" value=""/>
      Number of input expressions to solve<br />

      <a id="addFields" onclick="addFields()">Go</a>

      <div id="container"/>
    </form>
  </body>

</html>
